<!DOCTYPE html>
<html>
    <head>
        <title>
            Schedular
        </title>

        <link rel = "stylesheet" href="./css/main.css"/>
    </head>

    <body>
        <img id = "image" src="./img/main.jpg"/>

        <h1 id = "heading">
            Tournament Schedular
        </h1>

        <h3>
            Creates The Schedule Instantly
        </h3>

        <h5 id = "desc">
            Create the schedule for your tournament now.
        </h5>

        <main>
            <section>
                <div class = "top">Sport</div>
                <select class = "data" id = "selectsport">
                    <option>Select your Sport</option> 
                    <option>Chess</option> 
                    <option>Cricket</option>
                    <option>Football</option> 
                </select>
            </section>

            <section>
                <div class = "top">Type of Schedule</div>
                <select id="typeofschedule" class = "data">
                    <option value="type of schedule">Type of schedule</option>
                </select>
            </section>


            <section>
                <div class = "top">Number Of Pools</div>
                <select id = "noofpools" class = "data">
                    <option value="number of pools">Number of pools</option> 
                </select>
            </section>
            
            <section>
                <div class = "top">Number of Teams</div>
    
                <select  id="noofteams" class = "data">
                    <option value = "number of teams">Number of teams</option>
                </select>
        
            </section>
            
            
    
            <div>
                <button id = "submit" type="button">Create Schedule</button>
            </div>

        </main>

        <p id= "para">Select the number of teams and type of schedule 
            above to start the tournament.</p>
        

        <script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src = "./js/main.js"></script>
    </body>
</html>
