body {
    width: 1000px;
    margin: auto;
}

#image {
    margin-top: 50px;
    width: 600px;
    margin-bottom: 30px;
}

body >h1 {
    font-size: 50px;
    font-weight: bolder;
}

.info{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

#schedule{

    margin-bottom: 40px;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.links:hover{
    color:red;
}