body {
    width: 1000px;
    background-color: rgb(234, 243, 240);
    margin: auto;
    margin-bottom: 300px;
}

#image {
    margin-top: 50px;
    width: 600px;
    margin-bottom: 30px;
}

body >h1 {

    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 50px
}

.info{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

#schedule{

    margin-bottom: 40px;
}

.links {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 700;
}

.links:hover{
    color:red;
}

.bottom {

    margin-bottom: 10px;
    margin-left: 35px;
}